$body-font: 'Roboto', sans-serif;

$white: #FFFFFF;
$demi-white:#F5F6F6;
$orange: #E65C43;
$reddish-orange: #F25C43;
$gray: #666;
$dark-gray: #30353D;

$body-img: '../images/bg.gif';
$figure-img: '../images/logo.png';
$social-media-one-img: '../images/social-media.png';
$social-media-two-img: '../images/social-media.png';
$social-media-three-img: '../images/social-media.png';
$social-media-four-img: '../images/social-media.png';